.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
}

.card {
    margin-top: 30px;
    min-height: 370px;
    max-height: 370px;
    position: relative;
    padding: 30px;
}


@media (max-width: 991px) {
.card {
    min-height: 300px;
    max-height: 300px;
}

}

.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
}


.thumbnail .caption {
    padding: 9px;
    color: #000;
}

.icon-wrapper {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    margin-left: 5px;
}
